<div class="input-group mb-3">
    <input [(ngModel)]="searchAirport" type="text" class="form-control" placeholder="Search Airport" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button (click)="getairportdata()" class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
  </div>

 


  <div class="col-12">
      <div class="card" *ngFor="let airport of airportList.cityairports">
       
            <div class="card-header">{{airport.citydetails.cityname}}</div>

            <div class="card-body">{{airport.citydetails.citycd}}
              <div>
              <label for="">Statecd: {{airport.citydetails.statecd}}</label>
              </div>

              <div>
              <label for="">countrycd: {{airport.citydetails.countrycd}}</label>
              </div>
              <div>
              <label for="">countryname: {{airport.citydetails.countryname}}</label>
              </div>
              <div>
            </div>
        
      </div>

      <h5 class="pl-3">Other Airport Details</h5>

      <div class="card" *ngFor="let air of airport.airportdetails">
        <div class="card-body d-flex justify-content-between">
          <label for=""><strong>airportcd:</strong> {{air.airportcd}}</label>
          <label for=""><strong>airportname:</strong> {{air.airportname}}</label>
          <label for=""><strong>country cd:</strong> {{air.countrycd}}</label>
          <label for=""><strong>isnearbyairport</strong> : {{air.isnearbyairport}}</label>
          <label for=""><strong>jetscount:</strong> <span class="badge badge-primary">{{air.jetscount}}</span>  </label>
          
        </div>
        
      </div>



      </div>




  </div>



  <div class="container">
    <div class="col-md-12">

    </div>
  </div>

<h3>below value coming from above parameters using activated route params</h3>
  {{mynamefromsettings.name}}

<!-- 
  <h4>Family</h4>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>role</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Married</th>
  </tr>
  <tr *ngFor="let member of family">
    <td>{{member.name | gridfilter:2}}</td>
    <td>{{member.role}}</td>
    <td>{{member.age}}</td>
    <td>{{member.gender}}</td>
    <td>{{member.married}}</td>
  </tr>
</table> -->


<ul class="list-item-group" *ngIf="checkHeading">
  <li class="list-item"><h5>{{listheading}}</h5></li>
  <li class="list-item"><button class="btn btn-success">Button</button></li>
  <li class="list-item"><input type="text" class="form-control"></li>

</ul>