<p>subjectcomp works!</p>


<h5>Without Subscribe</h5>
<ul class="list-group">
    <li class="list-group-item">
        <div> {{withoutsubject1}}</div>
       
        <button (click)="callbefore()" class="btn btn-success mr-3">Subscriber 1</button>
        <button class="btn btn-danger" (click)="stopsubscribe()">Stop</button>
    </li>

    <li class="list-group-item">
        <div> {{withoutsubject2}}</div>
       
        <button (click)="calllater()" class="btn btn-success mr-3">Subscriber 2</button>
        <button class="btn btn-danger" (click)="stopsubscribe()">Stop</button>
    </li>
</ul>



<h5>With Subscribe</h5>

<ul class="list-group">
    <li class="list-group-item">
        <div> {{withoutsubject3}}</div>
       
        <button (click)="callbeforeWithSubject()" class="btn btn-success mr-3">Subscriber 1</button>
        <button class="btn btn-danger" (click)="stopsubscribe2()">Stop</button>
    </li>

    <li class="list-group-item">
        <div> {{withoutsubject4}}</div>
       
        <button (click)="calllaterWithSubject()" class="btn btn-success mr-3">Subscriber 2</button>
        <button class="btn btn-danger" (click)="stopsubscribe2()">Stop</button>
    </li>
</ul>