
<form #addEmployee="ngForm" (ngSubmit)="employeeFormSubmit(addEmployee.value)">

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="">User Id</label>
            <input type="text" class="form-control" name="userId" ngModel>
        </div>

        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" ngModel>
        </div>

        <div class="form-group">
            <label class="w-100" for="">Completed </label>
            <input ngModel [value]="pos" name="completed" type="radio"><label for="" class="mr-3">Complete</label>
            <input ngModel [value]="neg" name="completed" type="radio"><label for="">Incomplete</label>
        </div>

        <!-- <div class="form-group">
            <label class="w-100" for="">Designation </label>
             <select ngModel name="designation" id="" class="form-control">
                 <option value="ui designer">UI Designer</option>
                 <option value="ui developer">UI Developer</option>
                 <option value="full stack developer">Full Stack Developer</option>
                 <option value="product manager">Product Manager</option>
             </select>
        </div> -->

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary" *ngIf="!isEdit">Submit</button>
                <button type="submit" class="btn btn-primary" *ngIf="isEdit">Update</button>
            </div>
        </div>
    </div>
</div>
</form>



{{myname}}



<h3>Custom Observbles</h3>


<div class="row">
    <div class="col-12">
        <button class="btn btn-primary" (click)=startCount()>count start</button>
    </div>
   
    <div class="col-12">
       <h2>{{response}}</h2> 
       <label for="" class="text-danger" *ngIf="showerror">{{error}}</label>
       <label *ngIf="showtimeup" for="" class="text-success">{{timeup}}</label>
       <div class="col-12">
        <label for="">Enter the number to Stop</label>
        <input type="number" size="100" class="col-md-1" [(ngModel)]="digit">
        <button class="btn btn-danger" (click)="resetCount()">Reset</button>
       
       
       </div>
      
      
    </div>

    
</div>




