
<div class="row" *ngIf="showBulkActions">
  <div class="col">
    <div class="btn-group pb-2">
      <button class="btn btn-sm btn-outline-secondary">Edit</button>
      <button class="btn btn-sm btn-outline-secondary">Delete</button>
    </div>
  </div>
</div>

<input type="text" [(ngModel)]="searchTextBox">

{{searchTextBox}}

<div class="table-responsive grid-scroll">
  <table class="table table-striped table-bordered">
    <tbody>
        <tr>
          <th class="text-center"> <input type="checkbox"></th>
         
            <th>S.no</th>
            <th>Title</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
      <tr *ngFor="let todo of dataservice.todolist; let i=index">
        <td class="text-center">  <input (change)="checBoxClick($event, todo.id, todo.title)" type="checkbox"></td>
        <td>{{todo.id}}</td>
        <td><a href="javascript:void" routerLink="postdetails/{{todo.id}}">{{todo.title}}</a></td>
        <td><div class="badge" [ngClass]="todo.completed ? 'badge-success':'badge-warning'">{{todo.completed ? 'completed' : 'incomplete'}}</div></td>
        <td><button (click)="editItem()" class="btn btn-info btn-sm mr-1">Edit</button> <button (click)="deleteItem(todo.id, i)" class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="errmsg"> Please check your network connection</div>



  <h6>You Have Selected {{selectedList.length}} Items</h6>
<ul class="pl-0">
  <li *ngFor="let title of titleList" class="badge badge-pill badge-light p-3 mr-2 border">{{title}}</li>
</ul>
<div *ngIf="isEdit">
<app-admin></app-admin>
</div>

<div class="d-flex">

  <div *ngIf="showDiv" class="box">
    sada
  </div>



 

</div>

<button class="btn btn-primary" routerLink="postdetails/4" [queryParams]="employeedetails">goto details</button>


<button (click)="datashowInApp()">data show in app</button>
