/* You can add global styles to this file, and also import other style files */
.grid-scroll {
    height: 400px;
    overflow: auto;
}

// @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

// body {
//     font-family: 'JetBrains Mono', monospace;
// }

body  {
    font-family: 'Montserrat', sans-serif;
}

.circle {
    width: 28px;
    height: 28px;
    background-color: blue;
    border-radius: 50px;
    margin-right: 1rem;
}

.toast {
    opacity: 1;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}