<p>cpipe works!</p>
<ul class="list-group">
    <label for="">Change Truncate number</label>
    <input type="text"[(ngModel)]="helo">
    <!-- <input type="text" class="form-control col-md-3 mb-2" [(ngModel)]="para" value="4"> -->
    <li class="list-group-item" *ngFor="let myname of list | filters:helo">
        <div class="row">
        <div class="col-4">{{myname.name | mycustompipe:4 | uppercase}}</div>
        <div class="col-4">{{myname.role}}</div>
        <div class="col-4">{{myname.joinDate | date:'fullDate'}}</div>
            </div>
        </li>

        <button class="btn btn-success w-25" (click)="addList()">Add User</button>

        {{mypromise | async}}
</ul>

<!-- <select name="" id="" [(ngModel)]="selection">
    <option value="married">get married</option>
    <option value="younger">get younger</option>
    <option value="elder">get elder</option>
</select> -->
<h4>Family</h4>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>role</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Married</th>
  </tr>
  <tr *ngFor="let member of family | gridfilter">
    <td>{{member.name }}</td>
    <td>{{member.role}}</td>
    <td>{{member.age}}</td>
    <td>{{member.gender}}</td>
    <td>{{member.married}}</td>
  </tr>
</table>