<p>cpipe works!</p>
<ul class="list-group">
    <label for="">Change Truncate number</label>
    <input type="text"[(ngModel)]="helo">
    <!-- <input type="text" class="form-control col-md-3 mb-2" [(ngModel)]="para" value="4"> -->
    <li class="list-group-item" *ngFor="let myname of list | filters:helo">
        <div class="row">
        <div class="col-4">{{myname.name | mycustompipe:4 | uppercase}}</div>
        <div class="col-4">{{myname.role}}</div>
        <div class="col-4">{{myname.joinDate | date:'fullDate'}}</div>
            </div>
        </li>

        <button class="btn btn-success w-25" (click)="addList()">Add User</button>

        {{mypromise | async}}
</ul>